

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 320px) {
    /* For tablets: */
    .news-list li {
    	padding-right: 0px !important;
    	padding-left: 0px !important;
    }

}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-m-6 {width: 50%;}
    .news-list li {
    	padding-right: 15px !important;
    	padding-left: 15px !important;
    }

}
@media only screen and (min-width: 1440px) {
    /* For desktop: */
    .col-3 {width: 25%;}
}


.container2 {
    padding-top: 58px;
}
.container2 {
    position: relative;
    text-align: left;
    position: relative;
    width: 80%;
    max-width: 1440px;
    margin: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
ul {
    list-style: disc;
}
.news-list {
    padding-left: 0;
}
.news-list li {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 15px;
}
.news-list li img {
    width: 100%;
}
.news-list li .desc {
    color: #777;
    padding: 15px;
}
.news-list li h5 {
    font-size: 13px;
    padding-bottom: 0;
}
.news-list li span {
    display: block;
    font-size: 12px;
}
.news-list li a {
    border: 2px solid #c6c6c6;
    display: inline-block;
    min-height: auto;
    width: 100%;
}

.text-center {
    text-align: center;
}
.wp-pagenavi {
	border-top: 0px !important;
	text-align: center !important;
}
#pagenav{
	clear: left;
}
#pagenav .current {
    font-weight: 700;
}
#pagenav .current, #pagenav a {
    border-bottom: 1px solid #6eb849;
    color: #96281b;
    font-size: 18px !important;
    margin: 0 10px;
}
.col-3, .col-m-6{
	float:left;
}