/*
Theme Name: Divi child
Template: Divi
*/

@import url(../Divi/style.css);
#main-header {
    border-top: 10px solid #96281B !important;
}
#top-menu li.current-menu-item > a{
color: #96281B !important
}


.news_pagination{
padding-bottom: 0px !important;
display:none !important;
}

#pagination > .news_pagination{
display:block !important;
}
.news-short-content{
text-align:justify !important;
}
#featured-speach-list .news-col-list{
border-bottom: 0px !important;
}

/* CONTACT FORM DESIGN */
input[type="text"],
input[type="email"],
input[type="tel"]
{
    width: 100%;
    height: 30px;
}
textarea
{
   width: 100%;
}
.send-input{
    padding: 5px 15px;
    background: #555;
    color: #fff;
    height: 35px;
    width: 100px;
    font-size: 15px;
}
div.et-pb-contact-message, .et_pb_contact_main_title{
   display: none !important;
}
#table-style-alumni{
    /*padding-top: 80px !important;*/
    padding-bottom: 80px !important;
}
@media screen and (max-width: 425px) {
    #table-style-alumni{
        margin-left: 20px !important;
    }
}